html {
    background-color: blanchedalmond;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.header-container {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Habibi";
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
}

.titulos {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin-right: 300px;
}

.titulos h1 {
    font-size: 60px;
}

.titulos h2 {
    font-size: 20px;
    margin: -3px;
}

.logo {
    width: 200px;
}

.enlaces-centro a{
    gap: 25px; 
    text-decoration: none;
    color: white;
    padding: 20px;
}

.contacto a{
    font-size: 20px;
    padding: 20px;
    color: white;
    text-decoration: none;
}

img {
    width: 400px;
}

.imagen {
    display: flex;
    justify-content: center;
}

.contenido {
    text-align: center;
}