.header-container {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 30px;
    font-family: "Habibi";
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between; 
}

.contacto {
    text-align: left;
    font-size: 20px;
    margin: 30px;
    margin-left: auto; 
}

.titulos {
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.titulos h1 {
    font-size: 60px;
}

.titulos h2 {
    font-size: 20px;
    margin: -3px;
}

.logo {
    width: 200px;
}
